{% extends 'base.html' %}

{% block content %}

{% for post in post.all reversed %}

<div class="card instaCard">
    <div class="instaCard-head">
        <div class="instaCard-head_first">
            <img class="instaCard-head_profile" src="/static/whoami.jpg" />
            <div class="instaCard-head_author">{{post.author}}</div>
        </div>
        <div class="instaCard-head_last">...</div>
    </div>

    <img src="{{post.uploadfrom.url}}" style="width: 100%">

    <div class="instaCard-body">
        <div class="instaCard-iconzone">
            <div class="instaCard-iconzone_first">
                {% for postLike in postLike.all %}
                    {% if postLike.likedpost == post.id %}
                        <div class="instaCard-iconzone_heartzone mr-2">
                            <button type="submit" class="btn nopadding">
                                <img class="heart-icon icons" id="heart" src="static/icon/heart.png" />
                            </button>
                        </div>
                    {% else %}
                        <form action="{% url 'like' post.id %}" class="instaCard-iconzone_heartzone mr-2">
                            <button type="submit" class="btn nopadding">
                                <img class="heart-icon icons" id="heart" src="static/icon/void-heart.png" />
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'like' post.id %}" class="instaCard-iconzone_heartzone mr-2">
                    <button type="submit" class="btn nopadding">
                        <img class="heart-icon icons" id="heart" src="static/icon/void-heart.png" />
                    </button>
                </form>
                <div class="instaCard-iconzone_chatzone mr-2">
                    <img class="chat-icon icons" data-id="chat{{post.id}}" src="static/icon/chat.png"/>
                </div>
                <div class="instaCard-iconzone_uploadzone" onclick="onClickChat(e);">
                   <img class="upload-icon icons" id="upload" src="static/icon/upload.png"/>
                </div>
            </div>
            <div class="instaCard-iconzone_last">
                <div class="instaCard-iconzone_bookmarkzone">
                    <img class="bookmark-icon icons" id="bookmark" src="static/icon/void-bookmark.png" />
                </div>
            </div>
        </div>
        <span>좋아요 {{post.like}}개</span>
        <br>
        <div>{{post.author}} {{post.body}}</div>
        {% for comment in comment.all %}
            {% if comment.post == post %}
                <div>{{comment.author}} {{comment.comment}}</div>
            {% endif %}
        {% endfor %}
        <div>{{post.pub_date}}</div>
        <div>{{post.likedpost}}</div>
    </div>
    <form class="input-group mb-3" id="chat{{post.id}}" style="display:none;" action="{% url 'comment' post.id %}" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control inputOnlyBottom" name="inputComment" placeholder="덧글을 남겨주세요!" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">확인</button>
        </div>
    </form>
</div>
{% endfor%}

<style>
    body {
        background-color: #efefef;
        padding-top: 62px;
    }

    .instaCard {
        font-size: 14px;
    }

    .instaCard-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        height: 50px;
    }

    .instaCard-head_first {
        display: flex;
    }

    .instaCard-head_profile {
        width: 30px;
        height: 30px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        margin-right: 10px;
    }

    .instaCard-head_author {
        position: relative;
        top: 3px;
    }

    .instaCard-head_last {
        position: relative;
        top: -5px;
        cursor: pointer;
    }

    .instaCard-body {
        padding: 5px 20px 20px 20px;
    }

    .instaCard-iconzone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .instaCard-iconzone_first {
        display: flex;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .nopadding {
        padding: 0px;
        position: relative;
        top: -3px;
    }

    .inputOnlyBottom {
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

</style>

<script>
    (Array.from(document.querySelectorAll('.chat-icon'))
        .map(item => (
            item.onclick = e => {
                let displayOption = document.getElementById(e.target.dataset.id).style.display;
                if(displayOption == "none")document.getElementById(e.target.dataset.id).style.display = "flex";
                else document.getElementById(e.target.dataset.id).style.display = "none";
            })
        )
    )()
</script>

{% endblock %}