{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<div class="container" style="text-align: center">
    <img src="{%static 'instagram_logo.png'%}" alt="">
    <form method="POST" action="{% url 'login'%}">

        {% csrf_token %}

        <br>
        <input name="username" type="text" placeholder="id를 입력하세요">
        <br>

        <br>
        <input name="password" type="password" value="" placeholder="비밀번호를 입력하세요">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
</div>
{% endblock %}